# 
# @file .gitignore
# @author Sam4uk
# @brief 
# 
# @copyright Copyright (c) 2023
# 
# 
!.gitignore
.vscode
TestDoxy/

binary/*
binary/*.*
bin/


[Bb]uild
German/
Ukrainian/
English/
/*.png
/*.html
/*.md5
/*.map
/*.css
/*.js
/*.svg
/search/